build:
  type: text
  content: |
    #!/bin/sh

    # make all
    # docker build
    echo "FROM ubuntu:18.04

    # Install dependencies
    RUN apt-get update && \
     apt-get -y install apache2

    # Install apache and write ecs-demo-app message
    RUN echo 'ecs-demo-app!' > /var/www/html/index.html

    # Configure apache
    RUN echo '. /etc/apache2/envvars' > /root/run_apache.sh && \
     echo 'mkdir -p /var/run/apache2' >> /root/run_apache.sh && \
     echo 'mkdir -p /var/lock/apache2' >> /root/run_apache.sh && \ 
     echo '/usr/sbin/apache2 -D FOREGROUND' >> /root/run_apache.sh && \ 
     chmod 755 /root/run_apache.sh

    EXPOSE 80

    CMD /root/run_apache.sh" >> Dockerfile
    docker build -t ecs-demo-app .
    docker images --filter reference=ecs-demo-app
deploy:
  type: text
  content: |+
    #/bin/sh
    docker run -d -p 80:80 ecs-demo-app 
    aws ecr create-repository --repository-name ecs-demo-app-repository --region us-west-1
    docker tag ecs-demo-app $aws_account_id.dkr.ecr.us-west-1.amazonaws.com/ecs-demo-app-repository
    docker login -u AWS -p $(aws ecr get-login-password --region us-west-1) $aws_account_id.dkr.ecr.us-west-1.amazonaws.com
    docker push $aws_account_id.dkr.ecr.us-west-1.amazonaws.com/ecs-demo-app-repository

test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh
    aws ecr delete-repository --repository-name ecs-demo-app-repository --region us-east-1 --force

dockerCompose: ''
CDK_Content: |-
  #!/bin/sh

  cdk deploy
CDK_Git_path: ''
CDK_Uninstall: |-
  #!/bin/sh

  cdk destroy
lastUpdatedBy: Akshat Jain
lastUpdatedOn: 2023-01-18T10:27:02.801Z
