build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f Dockerfile -t ecs-demo-php-simple-app:1.0 . 
    docker tag ecs-demo-php-simple-app:1.0  ecs-demo-php-simple-app:default  
deploy:
  type: None
  content: ''
test: []
uninstall:
  type: None
  content: ''
dockerCompose: ''
lastUpdatedBy: Akshat Jain
lastUpdatedOn: 2023-01-17T09:51:54.495Z
