build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -t ecs-demo-app .
deploy:
  type: text
  content: |
    #/bin/sh
    docker images --filter reference=ecs-demo-app
    docker run -p 80:80 ecs-demo-app
    #aws ecr create-repository --repository-name ecs-demo-app-repository --region us-west-1
    #docker tag ecs-demo-app $(aws_account_id).dkr.ecr.us-west-1.amazonaws.com/ecs-demo-#app-repository
    #docker push $(aws_account_id).dkr.ecr.us-west-1.amazonaws.com/ecs-demo-app-repository
test: []
uninstall:
  type: text
  content: ''
dockerCompose: ''
lastUpdatedBy: Akshat Jain
lastUpdatedOn: 2023-01-17T12:55:17.194Z
